body{
        margin: 0px;
        background-color: rgb(243, 19, 19);
}


#p1{
        color: black;
        font-size: 45px;
        background-color: rgb(57, 57, 221);
        border-radius: 5px;
        border:4px solid rgba(2, 2, 46, 0.856);
        text-align: justify;
        margin: 1rem;
        font-weight:bolder;
}


#p2{
        color: white;
        font-size: 45px;
        background-color: rgb(18, 18, 94);
        border-radius: 5px;
        border: 5px solid rgba(0, 0, 0, 0.644);
        text-align: justify;
        margin: 1rem;
        font-weight:bolder;
}

#p3{
        color: black;
        font-size: 45px;
        background-color: rgb(55, 55, 129);
        border-radius: 5px;
        border: solid 5px black;
        text-align: justify;
        margin: 1rem;
        font-weight:bolder;
}


#p4{
        color: white;
        font-size: 45px;
        background-color: blue;
        border-radius: 5px;
        border: solid 5px rgba(0, 0, 0, 0.623);
        text-align: justify;
        margin: 1rem;
        font-weight:bolder;
}

#p5{
        color: black;
        font-size: 45px;
        background-color: rgb(20, 20, 216);
        border-radius: 5px;
        border: solid 5px rgb(128, 14, 14);
        text-align: justify;
        margin: 1rem;
        font-weight:bolder;
}


#p6{
        color: white;
        font-size: 45px;
        background-color: blueviolet;
        border-radius: 5px;
        border: solid 5px red;
        text-align: justify;
        margin: 1rem;
        font-weight:bolder;
}